build/template.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
    <link rel="stylesheet" href="style/styles.css"/>
  </head>
  <!--Как и написанно в тз , можно вставить любую картинку или цвет-->
  <body style="background: url(http://www.fonstola.ru/download.php?file=201111/2560x1440/fonstola.ru-53796.jpg) no-repeat center; background-size: cover" class="page">
    <!--Шапка начало-->
    <header class="page__head">
      <div class="head__item head__logo"><a href="#" class="logo__link"><img src="http://lorempixel.com/output/nature-q-c-300-300-1.jpg" alt="logo" class="logo__img"/></a></div>
      <div class="head__item head__event">
        <div style="color:#fff" class="event__name"> Lorem ipsum dolor.</div>
      </div>
      <div class="head__item head__clock">
        <div style="color:#fff" class="clock__item">12:00</div>
      </div>
    </header>
    <!--Шапка конец-->
    <!--Меню начало-->
    <nav style="background-color:green" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><span style="color:#fff" onclick="getSlide('social')" class="nav__link"><i class="fa fa-rss nav__icon" aria-hidden="true"></i><span class="nav__text">Social</span></span></li>
        <li class="nav__item"><span style="color:#fff" onclick="getSlide('agenda')" class="nav__link"><i class="fa fa-trophy nav__icon" aria-hidden="true"></i><span class="nav__text">Agenda</span></span></li>
        <li class="nav__item"><span style="color:#fff" onclick="getSlide('games')" class="nav__link"><i class="fa fa-calendar-o nav__icon" aria-hidden="true"></i><span class="nav__text">Games</span></span></li>
        <li class="nav__item"><span style="color:#fff" onclick="getSlide('partners')" class="nav__link"><i class="fa fa-star nav__icon" aria-hidden="true"></i><span class="nav__text">Partners</span></span></li>
      </ul>
    </nav>
    <!--Меню конец-->
    <!--Контент начало-->
    <div class="page__content">
      <div class="content__viewport">
        <div class="content__wrapper">
          <!--Слайд начало-->
          <div data-slider="social" class="content__item">
            <p> 1Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, repudiandae!</p>
          </div>
          <div data-slider="agenda" class="content__item">
            <p> 2Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est et corporis libero saepe deleniti officia nemo explicabo obcaecati sit, enim, ex quo maiores assumenda itaque magnam, vero recusandae fuga earum.</p>
          </div>
          <div data-slider="games" class="content__item">
            <p>  3Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate maiores ipsa adipisci provident quasi eligendi consequatur sapiente nostrum ipsam dolores culpa in, eos accusamus a esse! Modi, dolorem placeat, voluptatibus alias consectetur veritatis quis accusantium dignissimos quo quas libero doloribus maiores dicta exercitationem eum id consequatur ut quae dolorum nobis?</p>
          </div>
          <div data-slider="partners" class="content__item">
            <p>  4Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eius, asperiores eveniet. Provident rerum, rem maxime non consequatur neque id quae illo assumenda suscipit explicabo ipsum tenetur obcaecati reiciendis, dolores eum eligendi corporis ea iste aliquam, nulla repellat at. Sint unde tempore earum esse reiciendis quibusdam ipsa sequi nulla, aperiam magnam fugiat asperiores repellendus ut nihil dolorum laudantium officiis assumenda eaque totam eius, sit animi alias commodi. Praesentium maxime, quam facere voluptatum dolorum. Doloremque tempore, accusamus ipsum et fugiat, at!</p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>

src/jade/template.jade
include components/mixin
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		include components/style
		block title
	//Как и написанно в тз , можно вставить любую картинку или цвет
	body.page(style="background: url(http://www.fonstola.ru/download.php?file=201111/2560x1440/fonstola.ru-53796.jpg) no-repeat center; background-size: cover")
		//Шапка начало
		header.page__head
			.head__item.head__logo
				a(href="#" class="logo__link")
					img(src="http://lorempixel.com/output/nature-q-c-300-300-1.jpg", class="logo__img" alt="logo")
			.head__item.head__event
				.event__name(style="color:#fff")  Lorem ipsum dolor.
			.head__item.head__clock
				.clock__item(style="color:#fff") 12:00
		//Шапка конец
		//Меню начало
		nav.nav(style="background-color:green")
			ul.nav__list
				li.nav__item
					span.nav__link(style="color:#fff" onclick="getSlide('social')")
						<i class="fa fa-rss nav__icon" aria-hidden="true"></i>
						span.nav__text Social
				li.nav__item
					span.nav__link(style="color:#fff" onclick="getSlide('agenda')")
						<i class="fa fa-trophy nav__icon" aria-hidden="true"></i>
						span.nav__text Agenda
				li.nav__item
					span.nav__link(style="color:#fff" onclick="getSlide('games')")
						<i class="fa fa-calendar-o nav__icon" aria-hidden="true"></i>
						span.nav__text Games
				li.nav__item
					span.nav__link(style="color:#fff" onclick="getSlide('partners')")
						<i class="fa fa-star nav__icon" aria-hidden="true"></i>
						span.nav__text Partners
		//Меню конец
		//Контент начало
		.page__content
			.content__viewport
				.content__wrapper
					//Слайд начало
					.content__item(data-slider="social")
						p  1Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, repudiandae!
					.content__item(data-slider="agenda")
						p  2Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est et corporis libero saepe deleniti officia nemo explicabo obcaecati sit, enim, ex quo maiores assumenda itaque magnam, vero recusandae fuga earum.
					.content__item(data-slider="games")
						p   3Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate maiores ipsa adipisci provident quasi eligendi consequatur sapiente nostrum ipsam dolores culpa in, eos accusamus a esse! Modi, dolorem placeat, voluptatibus alias consectetur veritatis quis accusantium dignissimos quo quas libero doloribus maiores dicta exercitationem eum id consequatur ut quae dolorum nobis?
					.content__item(data-slider="partners")
						p   4Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eius, asperiores eveniet. Provident rerum, rem maxime non consequatur neque id quae illo assumenda suscipit explicabo ipsum tenetur obcaecati reiciendis, dolores eum eligendi corporis ea iste aliquam, nulla repellat at. Sint unde tempore earum esse reiciendis quibusdam ipsa sequi nulla, aperiam magnam fugiat asperiores repellendus ut nihil dolorum laudantium officiis assumenda eaque totam eius, sit animi alias commodi. Praesentium maxime, quam facere voluptatum dolorum. Doloremque tempore, accusamus ipsum et fugiat, at!
		include components/js
